
{% extends "flights/layout.html" %}
 
{% block main_contents %}
       <h1>Flight #{{ flight.id }}</h1>
       <p>Starting from: {{ flight.origin }}</p>
       <p>Ending at: {{ flight.destination }}</p>
       <p>Duration of {{ flight.duration }} minutes</p>

       <h2>
        The passengers on this flight:</h2>
        <ul>
            {% for p in passengers %}
                <li>{{ p }}</li>
            {% empty %}
                No passengers have booked this flight
            {% endfor %}
        </ul>

        <h2>Add a new passenger to the flight:</h2>
        <form action="{% url 'flights:book' flight.id %}" method="POST">
            {% csrf_token %}
            <select name="passenger">
                {% for p in non_passengers %}
                   <option value="{{ p.id}}">{{ p }}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
    
        <h3><a href="{% url 'flights:index' %}">Go back to full list of flights</a></h3>
{% endblock %}
